##Force SSL 

#Normal way (in case you need to deploy to NON-heroku)
RewriteCond %{HTTPS} !=on

#Heroku way
RewriteCond %{HTTP:X-Forwarded-Proto} !https 

#If neither above conditions are met, redirect to https
RewriteCond %{HTTP_HOST} ^attendance.team4099.com
RewriteRule ^(.*) https://falcontrack.herokuapp.com/$1 [P]