{% extends "base.html" %}

{% block content %}

<div class="w-2/3 mx-auto mt-5">
    <div class="mt-8 flex justify-center mb-8">
        <div class="relative w-2/5">
            <h1 class="absolute text-9xl text-white font-extrabold top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                404
            </h1>
            <img src="{{url_for('static', filename='/gif/404.gif')}}" class="w-full aspect rounded-xl">
        </div>
    </div>

    <h1 class="text-center mx-auto text-4xl text-white font-semibold mb-2">
        Oops. Something is missing here.
    </h1>
    <div class="w-full flex justify-center">
        <button type="submit"
            class="mt-3 inline-flex items-center py-2 px-6 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-amber-400 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Return home
            <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
            </svg>
        </button>
    </div>
    
</div>
{% endblock content %}