{% extends "base.html" %}

{% block content %}

<script src="https://unpkg.com/flowbite@1.5.2/dist/datepicker.js"></script>
<div class="w-2/3 mx-auto mt-5">
    <h1 class="text-4xl text-white font-semibold mb-2">
        Dashboard
    </h1>
    <h2 class="text-lg text-gray-500 font-medium pb-6 border-b-2 border-gray-800 mb-6">
        Manage users and view logs
        {%- for category, message in get_flashed_messages(with_categories = true) %}
        <div class="alert alert-danger mt-2 {{ flash_color }}">
            {{ message }}
        </div>
        {%- endfor %}
    </h2>

    <div class="container border-b-2 border-gray-800 mb-6 h-28">
        <div class="w-1/4 float-left">
            <h1 class="text-xl text-white font-semibold mb-2">
                Add team members
            </h1>
            <h2 class="text-md text-gray-500 font-medium pb-6">
                Add members and change their status as well as security
            </h2>

        </div>
        <div clas="w-3/5 pl-8 float-right">
            <form action="{{ request.path }}" method="post">
                <div class="flex justify-end">
                    <div class="mx-2">
                        <label for="username" class="text-white font-medium">Name</label><br>
                        <input type="text" name="username" placeholder="saraansh wadkar"
                            class="w-[13rem] h-10 bg-gray-700 text-gray-300 rounded-lg mt-2 text-md border border-gray-500 px-2" /><br>
                    </div>
                    <div class="mx-2">
                        <label for="studentid" class="text-white font-medium">Student ID</label><br>
                        <input type="text" name="studentid" placeholder="451466"
                            class="w-[13rem] h-10 bg-gray-700 text-gray-300 rounded-lg mt-2 text-md border border-gray-500 px-2" /><br>
                    </div>
                    <div class="mx-2">
                        <label for="admin" class="text-white font-medium">Perms</label><br>
                        <select type="checkbox" name="student_type" placeholder="student"
                            class="w-[12rem] h-10 bg-gray-700 text-gray-300 rounded-lg mt-2 text-md border border-gray-500 px-2" /><br>
                        <option value="student">student</option>
                        <option value="admin">admin</option>
                        <option value="root">root</option>
                        </select>
                    </div>
                    <button type="submit" id="student-add" name="student-add"
                        class="mx-2 h-10 align-baseline inline-flex ml-2 mt-8 py-2 px-3 text-sm font-medium text-white bg-amber-400 rounded-lg hover:bg-amber-500 focus:ring-4 focus:outline-none focus:ring-amber-300 dark:bg-amber-400">
                        Add
                        <svg aria-hidden="true" class="ml-2 mt-1 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>

            </form>
        </div>
    </div>
    <div class="container border-b-2 border-gray-800 mb-6 h-96">
        <div class="w-1/4 float-left">
            <h1 class="text-xl text-white font-semibold mb-2">
                View team members
            </h1>
            <h2 class="text-md text-gray-500 font-medium pb-6">
                View all members added to FalconTrack
            </h2>
        </div>
        <div class="w-3/5 pl-8 h-80 float-right overflow-y-auto">
            <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="py-3 px-6 w-10">
                                Name
                            </th>
                            <th scope="col" class="py-3 px-6 w-10">
                                Id
                            </th>
                            <th scope="col" class="py-3 px-3 w-10">
                                Last Logged
                            </th>
                            <th scope="col" class="py-3 px-6 w-10">
                                Perms
                            </th>
                            <th scope="col" class="py-3 px-3 w-7">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                            <th scope="row"
                                class="py-4 px-3 pr-1 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <input class="bg-transparent w-[6rem] h-max border-none focus:border-gray-700"
                                    type="text" name="username" value="{{ student.username }}"
                                    id="{{ student.id }}.username" onChange="update_student({{ student.id }})" />
                            </th>
                            <td class="py-4 px-3">
                                <input class="bg-transparent w-[5rem] h-max border-none focus:border-gray-700"
                                    type="text" name="school_id" value="{{ student.school_id }}"
                                    id="{{ student.id }}.school_id" onChange="update_student({{ student.id }})" />
                            </td>
                            <td class="py-4 px-3">
                                {{ student.last_logged_attendance_time }}
                            </td>
                            <td class="py-4 px-3">
                                <select name="student_type" placeholder="student"
                                    class="w-[6rem] h-10 bg-gray-700 text-gray-300 rounded-lg mt-2 text-md border border-gray-500 px-2"
                                    id="{{ student.id }}.is_admin" onChange="update_student({{ student.id }})" />
                                <option value="student">student</option>
                                <option value="admin">admin</option>
                                <option value="root">root</option>
                                </select>
                            </td>
                            <td class="py-4 px-3">
                                <button type="submit" id="student-delete" name="student-delete"
                                    onclick="confirm_student_deletion({{ student.id }}, '{{ student.username}}')"
                                    class="mx-0 mt-0 py-2 px-3 text-sm bg-none hover:bg-none focus:ring-4 font-medium rounded-lg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="#374151" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                    </svg>
                                </button>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container border-b-2 border-gray-800 mb-6 h-28">
        <div class="w-1/4 float-left">
            <h1 class="text-xl text-white font-semibold mb-2">
                Add Location
            </h1>
            <h2 class="text-md text-gray-500 font-medium pb-6">
                Add a location in which you want to track attendance.
            </h2>
        </div>
        <div clas="w-3/5 pl-8 float-right">
            <form action="{{ request.path }}" method="post">
                <div class="flex justify-end">
                    <div class="mx-2">
                        <label for="location_name" class="text-white font-medium">Location Name</label><br>
                        <input type="text" name="location_name" placeholder="school"
                            class="w-[12rem] h-10 bg-gray-700 text-gray-300 rounded-lg mt-2 text-md border border-gray-500 px-2" /><br>
                    </div>
                    <div class="mx-2">
                        <label for="lat" class="text-white font-medium">Latitude</label><br>
                        <input type="text" name="lat" placeholder="39.14274983276902"
                            class="w-[13rem] h-10 bg-gray-700 text-gray-300 rounded-lg mt-2 text-md border border-gray-500 px-2" /><br>
                    </div>
                    <div class="mx-2">
                        <label for="long" class="text-white font-medium">Longitude</label><br>
                        <input type="text" name="long" placeholder="-77.41981164888188"
                            class="w-[13rem] h-10 bg-gray-700 text-gray-300 rounded-lg mt-2 text-md border border-gray-500 px-2" /><br>
                    </div>
                    <button type="submit" id="location-add" name="location-add"
                        class="mx-2 h-10 align-baseline inline-flex ml-2 mt-8 py-2 px-3 text-sm font-medium text-white bg-amber-400 rounded-lg hover:bg-amber-500 focus:ring-4 focus:outline-none focus:ring-amber-300 dark:bg-amber-400">
                        Add
                        <svg aria-hidden="true" class="ml-2 mt-1 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>

            </form>
        </div>
    </div>
    <div class="border-b-2 border-gray-800 mb-6 h-96">
        <div class="w-1/4 float-left">
            <h1 class="text-xl text-white font-semibold mb-2">
                View locations
            </h1>
            <h2 class="text-md text-gray-500 font-medium pb-6">
                View and manage all locations added to FalconTrack
            </h2>
        </div>
        <div class="w-3/5 pl-8 h-80 float-right overflow-y-auto">
            <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="py-3 px-6 w-10">
                                Location Name
                            </th>
                            <th scope="col" class="py-3 px-6 w-10">
                                Latitude
                            </th>
                            <th scope="col" class="py-3 px-3 w-10">
                                Longitude
                            </th>
                            <th scope="col" class="py-3 px-3 w-10">
                                Last Edited On
                            </th>
                            <th scope="col" class="py-3 px-2 w-10">
                                Edited By
                            </th>
                            <th scope="col" class="py-3 px-3 w-7">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for location in locations %}
                        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                            <th scope="row"
                                class="py-4 px-3 pr-1 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <input class="bg-transparent w-[6rem] h-max border-none focus:border-gray-700"
                                    type="text" name="name" value="{{ location.name }}" id="{{ location.id }}.name"
                                    onChange="update_location({{ location.id }})" />
                            </th>
                            <td class="py-4 px-3">
                                <input class="bg-transparent w-[5rem] h-max border-none focus:border-gray-700"
                                    type="text" name="lat" value="{{ location.latitude }}"
                                    id="{{ location.id }}.latitude" onChange="update_location({{ location.id }})" />
                            </td>
                            <td class="py-4 px-3">
                                <input class="bg-transparent w-[5rem] h-max border-none focus:border-gray-700"
                                    type="text" name="long" value="{{ location.longitude }}"
                                    id="{{ location.id }}.longitude" onChange="update_location({{ location.id }})" />
                            </td>
                            <td class="py-4 px-3">
                                {{ location.last_edited_on }}
                            </td>
                            <td class="py-4 px-3">
                                {{ location.last_edited_by }}
                            </td>
                            <td class="py-4 px-3">
                                <button type="submit" id="location-delete" name="location-delete"
                                    onclick="confirm_location_deletion({{ location.id }}, '{{ location.name}}')"
                                    class="mx-0 mt-0 py-2 px-3 text-sm bg-none hover:bg-none focus:ring-4 font-medium rounded-lg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="#374151" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                    </svg>
                                </button>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container mb-6 h-96">
        <div class="w-1/4 float-left">
            <h1 class="text-xl text-white font-semibold mb-2">
                Manage activity
            </h1>
            <h2 class="text-md text-gray-500 font-medium pb-6">
                View all checked in students and manage their statuses.
            </h2>
        </div>
        <div class="w-3/5 pl-8 h-80 float-right overflow-y-auto">
            <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="py-3 px-6 w-10">
                                Student Name
                            </th>
                            <th scope="col" class="py-3 px-6 w-10">
                                Location
                            </th>
                            <th scope="col" class="py-3 px-3 w-10">
                                Time Checked In
                            </th>
                            <th scope="col" class="py-3 px-3 w-7">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in active_students %}
                        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                            <td class="py-4 px-3 w-[5rem] h-max border-none">{{ student.username }}
                            </td>
                            <td class="py-4 px-3 w-[5rem] h-max border-none">{{ student.cur_location }}
                            </td>
                            <td class="py-4 px-3 w-[5rem] h-max border-none">
                                {{ student.last_logged_attendance_time }}
                            </td>
                            <td class="py-4 px-3">
                                <button type="submit" id="checkout" name="checkout"
                                    onclick="confirm_student_checkout({{ student.id }}, '{{ student.username}}')"
                                    class="mx-0 mt-0 py-2 px-3 text-sm bg-none hover:bg-none focus:ring-4 font-medium rounded-lg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="#374151" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4M10 17l5-5-5-5M13.8 12H3" />
                                    </svg>
                                </button>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="deletion-popup" tabindex="-1"
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
        <div class="relative p-4 w-full max-w-lg h-full md:h-auto">
            <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 md:p-8">
                <div class="mb-4 text-sm font-light text-gray-500 dark:text-gray-400">
                    <h3 class="mb-3 text-2xl font-bold text-gray-900 dark:text-white">Are you sure?</h3>
                    <p id="error" class="text-red-500">
                    </p>
                    <p id="deletion">
                    </p>
                </div>
                <div class="justify-between items-center pt-0 space-y-4 sm:flex sm:space-y-0">
                    <div class="items-center space-y-4 sm:space-x-4 sm:flex sm:space-y-2">
                        <button id="delete-close-modal" type="button"
                            class="mt-2 py-2 px-4 w-full text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 sm:w-auto hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Cancel</button>
                        <button id="delete-confirm-button" type="button"
                            class="mt-2 py-2 px-4 w-full text-sm font-medium text-center text-white rounded-lg bg-red-500 sm:w-auto hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="info-popup" tabindex="-1"
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
        <div class="relative p-4 w-full max-w-lg h-full md:h-auto">
            <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 md:p-8">
                <div class="mb-4 text-sm font-light text-gray-500 dark:text-gray-400">
                    <h3 class="mb-3 text-2xl font-bold text-gray-900 dark:text-white">Are you sure?</h3>
                    <p id="error" class="text-red-500">
                    </p>
                    <p id="deletion">
                    </p>
                </div>
                <div class="justify-between items-center pt-0 space-y-4 sm:flex sm:space-y-0">
                    <div class="relative">
                        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </div>

                    </div>
                    <input datepicker type="text" id="date"
                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Select date">
                </div>
                <div class="justify-between items-center pt-0 space-y-4 sm:flex sm:space-y-0">
                    <div class="mt-2 space-y-6">
                        <input type="text" id="time"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="4:00 PM" required>
                    </div>
                    <div class="items-center space-y-4 sm:space-x-4 sm:flex sm:space-y-2">
                        <button id="close-modal" type="button"
                            class="mt-2 py-2 px-4 w-full text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 sm:w-auto hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Cancel</button>
                        <button id="confirm-button" type="button"
                            class="mt-2 py-2 px-4 w-full text-sm font-medium text-center text-white rounded-lg bg-red-500 sm:w-auto hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    function update_student(id) {

        var server_data = [
            { "id": id },
            { "username": document.getElementById(id + ".username").value },
            { "school_id": document.getElementById(id + ".school_id").value },
            { "is_admin": document.getElementById(id + ".is_admin").value },
            { "current_time": new Date().getTime() }
        ];

        $.ajax({
            type: "POST",
            url: "/process_student_change",
            data: JSON.stringify(server_data),
            contentType: "application/json",
            dataType: 'json',
            success: function (result) {

            }
        });
    }

    function update_location(id) {
        const date = new Date()
        var server_data = [
            { "id": id },
            { "name": document.getElementById(id + ".name").value },
            { "lat": document.getElementById(id + ".latitude").value },
            { "long": document.getElementById(id + ".longitude").value },
            { "current_time": date.getTime() / 1000 }
        ];

        $.ajax({
            type: "POST",
            url: "/process_location_change",
            data: JSON.stringify(server_data),
            contentType: "application/json",
            dataType: 'json',
            success: function (result) {

            }
        });
    }

    function confirm_student_deletion(id, username) {
        deletionModal.show();
        document.getElementById("deletion").innerText = "Please confirm that you want to remove " + username + " as a student."
        const closeModalEl = document.getElementById('delete-close-modal');
        closeModalEl.addEventListener('click', function () {
            deletionModal.hide();
        });

        const acceptPrivacyEl = document.getElementById('delete-confirm-button');
        acceptPrivacyEl.addEventListener('click', function () {
            deletionModal.hide();
            delete_student(id)
        });
    }

    function confirm_location_deletion(id, name) {
        deletionModal.show();
        document.getElementById("deletion").innerText = "Please confirm that you want to remove " + name + " as a location."
        const closeModalEl = document.getElementById('delete-close-modal');
        closeModalEl.addEventListener('click', function () {
            deletionModal.hide();
        });

        const acceptPrivacyEl = document.getElementById('delete-confirm-button');
        acceptPrivacyEl.addEventListener('click', function () {
            deletionModal.hide();
            delete_location(id)
        });
    }

    function confirm_student_checkout(id, name) {
        privacyModal.show();
        document.getElementById("deletion").innerText = "Please confirm that you want to checkout " + name + "."
        const closeModalEl = document.getElementById('close-modal');
        closeModalEl.addEventListener('click', function () {
            privacyModal.hide();
        });

        const acceptPrivacyEl = document.getElementById('confirm-button');
        acceptPrivacyEl.addEventListener('click', function () {
            var current_date = document.getElementById("date").value
            var time = document.getElementById("time").value
            var date = new Date(current_date + " " + time)
            var current_time = new Date()
            if (date instanceof Date && !isNaN(date.valueOf())) {
                if (date.getTime() <= current_time.getTime()) {
                    privacyModal.hide();
                    checkout_student(id, date.getTime() / 1000)
                } else {
                    document.getElementById("error").innerText = "Checkout date cannot be in the future."
                }
            } else {
                document.getElementById("error").innerText = "Invalid Date"
            }


            // checkout_student(id)
        });
    }

    function delete_location(id) {
        var server_data = [
            { "id": id },
        ];

        $.ajax({
            type: "POST",
            url: "/delete_location",
            data: JSON.stringify(server_data),
            contentType: "application/json",
            dataType: 'json',
            success: function (result) {
                window.location.href = window.location.pathname + window.location.search + window.location.hash;
            }
        });


    }

    function delete_student(id) {

        var server_data = [
            { "id": id },
        ];

        $.ajax({
            type: "POST",
            url: "/delete_student",
            data: JSON.stringify(server_data),
            contentType: "application/json",
            dataType: 'json',
            success: function (result) {
                window.location.href = window.location.pathname + window.location.search + window.location.hash;
            }
        });


    }

    function checkout_student(id, time) {
        var server_data = [
            { "id": id },
            { "time": time }
        ];

        $.ajax({
            type: "POST",
            url: "/checkout_student",
            data: JSON.stringify(server_data),
            contentType: "application/json",
            dataType: 'json',
            success: function (result) {
                window.location.href = window.location.pathname + window.location.search + window.location.hash;
            }
        })
    }

    const modalEl = document.getElementById('info-popup');
    const privacyModal = new Modal(modalEl, {
        placement: 'center'
    });

    const deletionModalEl = document.getElementById('deletion-popup');
    const deletionModal = new Modal(deletionModalEl, {
        placement: 'center'
    });



    {% for student in students %}
    document.getElementById("{{ student.id }}.is_admin").value = {% if student.is_admin %}"admin"{% else %} "student"{% endif %};
    {% endfor %}

</script>
{% endblock content %}