{% extends "base.html" %}

{% block content %}

<div class="w-2/3 mx-auto mt-5">
    <h1 class="text-4xl text-white font-semibold mb-14">
        Generate a QR Code
    </h1>

    <div class="container flex flex-wrap flex-row">

        <div
            class="p-6 max-w-sm rounded-lg border border-gray-200 shadow-md {{ flash_color }} bg-gray-800 dark:border-gray-700">
            {%- for category, message in get_flashed_messages(with_categories = true) %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
            {%- endfor %}
            <form action="{{ request.path }}" method="post">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Location</h5>
                </a>
                <select name="location" id="select"
                    class="w-[14rem] h-10 bg-gray-700 text-gray-300 rounded-lg px-2 mb-8 text-sm">
                    {% for location in locations %}
                    <option value="{{ location.name }}">{{ location.name }}</option>
                    {% endfor %}
                </select>
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Expiration</h5>
                </a>
                <div class="w-full">
                    <select name="exprdate" id="select" type="text"
                        class="w-[14rem] h-10 bg-gray-700 text-gray-300 rounded-lg px-2 mb-8 text-sm">
                        <option value="0">None</option>
                        <option value="1">1 hour</option>
                        <option value="2">2 hour</option>
                        <option value="6">6 hour</option>
                        <option value="12">12 hour</option>
                        <option value="24">1 day</option>
                    </select>
                </div>
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Range of QRcode
                    </h5>
                </a>
                <input name="range" id="range"
                    class="w-[14rem] h-10 bg-gray-700 text-gray-300 rounded-lg px-2 mb-8 text-sm border border-gray-500"></input>
                <br>
                <button type="submit"
                    class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-amber-400 rounded-lg hover:bg-amber-500 focus:ring-4 focus:outline-none focus:ring-amber-300 dark:bg-amber-400">
                    Generate
                    <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
            </form>
        </div>

        <div class="h-[20rem] w-3/5 sm-w-max md-w-max pt-6">
            <div class="mx-auto grid place-items-center w-64 h-64 bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500"
                style="border-radius: 2em;">
                <div class="w-56 h-56 grid place-items-center bg-white" style="border-radius: 1.5em;">
                    <img src="{{ qrcode(encoded, box_size=6) }}">
                </div>
            </div>
            <h5 class="mb-2 text-sm tracking-tight text-gray-500 text-center mt-2 w-full" id="url">{{ url }} </h5>
        </div>

    </div>
</div>
{% endblock content %}