{% extends "base.html" %}

{% block content %}
<div class="w-2/3 mx-auto mt-5 mb-6">
    <h1 class="text-4xl text-white font-semibold ">
        <h1 class="text-4xl text-white font-semibold ">Who is where?</h1>
        <h2 class="text-lg text-gray-500 font-medium pb-6 border-b-2 border-gray-800 mb-6 mt-4">Use this page to see the
            people
            (if any) at all your build spaces.</h2>

        {% for location in locations %}
            <div class="overflow-x-auto relative shadow-md sm:rounded-lg mb-8">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="py-3 px-6">
                                {{ location.name }}
                            </th>
                            <th scope="col" class="py-3 px-6">
                                Check in time 
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in active_students %}
                        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                            {% if student.cur_location == location.name %}
                                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{ student.username }}
                                </th>
                                <td class="py-4 px-6">
                                    {{ student.last_logged_attendance_time.strftime('%Y-%m-%d %H:%M:%S') }}
                                </td>
                            {% else %}
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
        
        
    </h1>
</div>

{% endblock content %}