{% extends "base.html" %}

{% block content %}
<div class="w-2/3 mx-auto mt-5 mb-6">
    <button onclick="getLocation()">Try It</button>

    <p id="demo"></p>

    <script>
        var x = document.getElementById("demo");

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            x.innerHTML = "Latitude: " + position.coords.latitude +
                "<br>Longitude: " + position.coords.longitude;
        }
    </script>
    {%- for category, message in get_flashed_messages(with_categories = true) %}
    <div class="alert alert-danger p-6 {{ flash_color }}">
        {{ message }}
    </div>
    {%- endfor %}

</div>

{% endblock content %}