<!DOCTYPE html>
<html lang="en">

<head></head>

<body>

    <hr />
    {%- for message in get_flashed_messages() %}
    {{ message }}
    {%- endfor %}

    <h3>Students (<a href="{{ url_for('new') }}">Add Student
        </a>)</h3>

    <table>
        <thead>
            <tr>
                <th>name</th>
                <th>id</th>
                <th>is_admin</th>
                <th>location</th>
                <th>last logged attendance time</th>
                <th>hours_logged</th>
            </tr>
        </thead>

        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.log_time }}</td>
                <td>{{ student.location }}</td>
                <td>{{ student.attendee }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>