<!DOCTYPE html>
<html lang="en">

<head></head>

<body>

    <hr />
    {%- for message in get_flashed_messages() %}
    {{ message }}
    {%- endfor %}

    <h3>Students (<a href="{{ url_for('new') }}">Add Student
        </a>)</h3>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Location</th>
                <th>Expr Date</th>
                <th>Range</th>
            </tr>
        </thead>

        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.location.value }}</td>
                <td>{{ student.expr_date }}</td>
                <td>{{ student.range_of_qrcode }}</td>
                <td>{{ student.uses }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>